<!DOCTYPE html>
<html lang="ko" data-bs-theme="success">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1", shrink-to-fit="no"> <!-- 어떤 기기로 보든 다 호환해준다 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>TOMATO_Prediction</title>
    <style type="text/css">
        <h2> {color : blue}
    </style>
</head>
<body >
    <br>
    <h1 align="center"><strong><p class="text-primary"><img src={{url_for('static', filename="images/다운로드3.jfif")}} alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
        TOMATO Detection</p></strong></h1>
    <br>
    <br>
    {% include "navbar.html" %}
    <br>
    <br>
    {% include "carousel.html" %}
</body>
</html>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
